<% @page_title = "BlogDesine | #{@user.username}" %>

<div class="container">
    <h3>Username: <%= @user.username %></h3>
    <p>Email: <%= @user.email %></p>
    <% if current_user == @user %>
        <%= link_to "Edit Profile", edit_user_registration_path %>
    <% end %>
</div>